body {
    margin: 0;
    padding: 0;
    background-color: #77C9F7;

    font-family: 'Fredoka One', 'Comic Sans MS', sans-serif;
    text-shadow: 0px 0px 3px #fff;
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
}

#holder {
    display: none;
    position: absolute;
    overflow: hidden;
}

.canvas-holder {
    z-index: 101;
    position: absolute;
    top: 36px;
    left: 67px;

    width: 720px;
    height: 465px;
    overflow: hidden;
}

.canvas1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.canvas2 {
    position: absolute;
    top: 0px;
    left: 241px;
}

.canvas3 {
    position: absolute;
    top: 0px;
    left: 484px;
}

.page {
    position: relative;
    width: 960px;
    height: 536px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.p-game {
    background-image: url('../res/web/BG.png');
}

.spin {
    position: relative;
    left: 824px;
    top: 218px;
    width: 98px;
    height: 98px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.s-enabled {
    cursor: pointer;
    background-image: url('../res/web/BTN_Spin.png');
}

.s-disabled {
    cursor: default;
    background-image: url('../res/web/BTN_Spin_d.png');
}

.bet-line {
    z-index: 200;
    position: absolute;
}

.line1 {
    top: 100px;
    left: 40px;
}
.line2 {
    top: 260px;
    left: 40px;
}
.line3 {
    top: 420px;
    left: 40px;
}
.line4 {
    top: 265px;
    left: 50px;
    -moz-transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    -o-transform:rotate(30deg);
    -ms-transform:rotate(30deg);
}
.line5 {
    top: 265px;
    left: 50px;
    -moz-transform:rotate(-30deg);
    -webkit-transform:rotate(-30deg);
    -o-transform:rotate(-30deg);
    -ms-transform:rotate(-30deg);
}

.win-div {
    position: absolute;
    top:20px;
    right:20px;
    width: 135px;
    height: 125px;
    background-color: rgba(0,0,0,.3);
    color: #00C;
    text-align: center;
    font-size: 50px;
}


.add-div {
    position: absolute;
    display: none;
    bottom:60px;
    right:20px;
    width: 135px;
    height: 60px;
    background-color: rgba(0,0,0,.3);
    color: #0C0;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
}